:root {
    --white: #F9FBFC;
    --whiteblue: #D9FFFE;
    --p1: #063C6B;
    --p2: #04549D;
    --p3: #0B928E;
    --p4: #17A97C;
    --p5: #51CA6D;
    --debug: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: var(--white);
}
/* pre-nav */
.pre-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--p2);
    color: var(--white);
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
.pre-nav a{
    display: flex;
    color: var(--white);
    text-decoration: none;
    color: var(--white);
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    align-items: center;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    height: max-content;
    width: 100%;
    background-color: var(--white);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
}
nav > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section{
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 32px;
}

.logo img{
    height: 100%;
    width: 150px;
    object-fit: contain;
    
}

nav ul li a {
    height: 100%;
    color: black;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

.li-list{
    height: 100%;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.li-list li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-list li:hover{
    text-decoration: underline;
}

/* Dropdown styles */
.our-products {
  display: none;
  position: absolute;
  top: 100%; /* right below parent */
  background-color: var(--white);
  list-style: none;
  min-width: 150px;
  border-radius: 4px;
  border: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.our-products li a {
  padding: 0.5em 1em;
  white-space: nowrap;
}

.our-products li a:hover {
  background-color: var(--white)
}

/* Show dropdown on hover */
.dropdown:hover .our-products {
  display: block;
}

.dropdown-line{
    height: 2px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}
.call-quote-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-quote-button-space{
    margin-right: 20px;
}
.call-quote-button-space > p{
    color: var(--p1);
}
.call-quote-button-space > p, .li-list{
    font-size: 14px;
}
.quote-button{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    background-color: var(--p1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.quote-button > p{
    font-size: 16px;
    color: var(--white);
}
.quote-button:hover{
    border-radius: 100px;
    background-color: var(--p2);
}

/* Hero */
.hero-container{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    padding-top: 120px;
    text-align: center;
}
.hero-container-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.hero-container-right {
    display: flex;
    width: 50%;
    height: 500px;
}
.hero-img {
  opacity: 0;
  transition: opacity 1s ease;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.hero-img.show {
  opacity: 1;
  transition: opacity 1s ease;
}
.hero-text-container{
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 100px;
    text-align: left;
}
.hero-button-container{
    padding: 40px 100px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.hero-product-list-button{
    display: flex;
    align-items: center;  
    gap: 10px;
    background-color: var(--p3);
    padding: 12px 22px;
    border: solid;
    border-color: var(--p3);
    border-width: 1px;
    border-radius: 4px;
    color: var(--white);
    transition: background-color 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.hero-contact-sales-button{
    display: flex;
    align-items: center;  
    gap: 10px;
    background-color: var(--white);
    padding: 12px 22px;
    border: solid;
    border-color: var(--p3);
    border-width: 1px;
    border-radius: 4px;
    color: var(--p3);
    transition: background-color 0.3s;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.hero-product-list-button:hover{
    display: flex;
    align-items: center;  
    gap: 10px;
    background-color: var(--white);
    padding: 12px 22px;
    border: solid;
    border-color: var(--p3);
    border-width: 1px;
    border-radius: 4px;
    color: var(--p3);
}
.hero-contact-sales-button:hover{
    display: flex;
    align-items: center;  
    gap: 10px;
    background-color: var(--p3);
    padding: 12px 22px;
    border: solid;
    border-color: var(--p3);
    border-width: 1px;
    border-radius: 4px;
    color: var(--white);
}
.hero-product-list-button svg {
    fill: none;
    transition: stroke 0.3s;
    stroke-width: 1;
    stroke: var(--white);
}
.hero-contact-sales-button svg {
    fill: none;
    transition: stroke 0.3s;
    stroke-width: 1;
    stroke: var(--p3);
}
.hero-product-list-button:hover svg {
    stroke: var(--p3);
}
.hero-contact-sales-button:hover svg {
    stroke: var(--white);
}
.hero-contact-sales-button > p, .hero-product-list-button > p{
    font-size: 16px;
}
.hero-p1{
    font-size: 56px;
    line-height: 70px;
}
.hero-p2{
    font-size: 56px;
    font-weight: 600;
}
.hero-p1, .hero-p2 {
  opacity: 0;
  transition: opacity 1s ease;
}
.hero-p1.show, .hero-p2.show {
  opacity: 1;
  transition: opacity 1s ease;
}

/* Benefits */
.benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 640px;
    background-image: url(images/backgrounds/biometricbackground.png);
    transition: background-image 0.4s ease;
}
.benefits-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.benefits-image{
    height: 358px;
    width: 600px;
    border-radius: 25px;
    background-color: var(--white);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.benefits-image img{
    height: 358px;
    width: 600px;
    border-radius: 25px;
    object-fit: cover;
}
.benefits-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.benefits-buttons button{
    display: flex;
    align-items: center;
    width: max-content;
    padding: 12px 22px;
    border-radius: 10px;
    background-color: var(--white);
    border-style: solid;
    border-color: var(--p3);
    border-width: 2px;
    color: var(--p3);
    transition: background-color 0.3s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}
.benefits-btn:hover{
    background-color: var(--p5);
    border-color: var(--white);
    color: var(--white);
}
.benefits-btn.active{
    background-color: var(--p3);
    border-color: var(--white);
    color: var(--white);
}
.benefits-btn:active{
    background-color: var(--p1);
    border-color: var(--white);
    color: var(--white);
}
.benefits-text{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.benefits-text p{
    font-size: 24px;
    color: var(--white);
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}

/* Clients */
#clients {
    background-color: var(--white);
    text-align: center;
}
.clients-container{
    margin-top: 50px;
    margin-bottom: 70px;
}
.clients-title{
    font-size: 40px;
}
.infinite-scroll {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 20px;
}

/* 2. Flex row containing all images */
.scroll-content {
    display: flex;
    align-items: center;
    /* no wrap so clones line up */
    flex-wrap: nowrap;
    /* smooth scrolling by JS */
    will-change: transform;
}

/* 3. Image styling */
.scroll-content img {
    max-width: 200px;
    max-height: 100px;  /* adjust as needed */
    margin-right: 20px;  /* spacing */
    flex-shrink: 0;
}

/* Trusted brands */
.trusted-brands-container{
    height: max-content;
    width: 100%;
    background-image: url(images/backgrounds/trusted1a.png);
    background-position: center;
}
.trusted-brands{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 94px 0px;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.trusted-brands-card{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    background-color: var(--white);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 50px;
}
.trusted-brands-card-p{
    font-size: 40px;
}
.trusted-brands-pngs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.trusted-brands-pngs img{
    max-width: 200px;
    max-height: 100px;
    flex-shrink: 0;
}
.brands-details{
    display: flex;
    flex-direction: row;
    padding: 0px 100px;
    gap: 50px;
}
.brands-p{
    font-size: 20px;
    text-align: center;
}

/* Contact */
.contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 812px;
    background-color: var(--p3);
}
.contacts-card{
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}
.contacts-card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contacts-card-p{
    display: flex;
    flex-direction: row;
    color: var(--p3);
    font-size: 24px;
}
label{
    font-size: 14px;
    margin-top: 24px;
    color: var(--p3);
}
input, textarea {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--p3);
    background-color: rgba(11, 146, 142, 0.08);
}
textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-submit{
    width: fit-content;
    height: fit-content;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    padding: 12px 22px;
    border-radius: 10px;
    background-color: var(--p3);
    gap: 10px;
    border: solid;
    border-color: var(--white);
    border-width: 1px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.contact-submit p{
    color: var(--white);
    transition: color 0.3s;
}
.contact-submit:hover {
    background-color: var(--white);
    border-color: var(--p3);
}
.contact-submit:hover p{
    color: var(--p3);
}
.contact-submit svg{
    fill: none;
    transition: stroke 0.3s;
    stroke-width: 2;
    stroke: var(--white);
}
.contact-submit:hover svg{
    stroke: var(--p3);
}

input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #333;
    color: var(--white);
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.footer-main{
    fill: none;
    transition: stroke 0.3s;
    stroke-width: 2;
    stroke: var(--white);
}
.footer-main img{
    height: auto;
    width: 200px;
    object-fit: contain;
}
.footer-links{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.footer-title{
    font-weight: 800;
}
.footer-overview, .footer-company, .footer-explore, .footer-social{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-overview a, .footer-company a, .footer-explore a, .footer-social a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.footer-overview a:hover, .footer-company a:hover, .footer-explore a:hover, .footer-social a:hover{
    text-decoration: underline;
}
.footer-social-icons{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.footer-social-icons a svg{
    fill: #121212;
}
.footer-social-icons a svg:hover{
    fill: var(--p3);
}
.footer-line{
    height: 2px;
    width: 100%;
    background-color: #DBDDE0;
}

.footer-trademark{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.privacy-policy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 10px;
}
/* Responsive spacing */
@media (max-width: 768px) {
  .li-list {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .li-list {
    gap: 10px;
  }
}





/* Small phones */
@media (max-width: 480px) { }

/* Phones + small tablets */
@media (min-width: 481px) and (max-width: 767px) { }

/* Tablets (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1024px) { }

/* Small desktops/laptops */
@media (min-width: 1025px) and (max-width: 1200px) { }

/* Large desktops */
@media (min-width: 1201px) { }







/* About Us */
.about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--p3);
}

.about-us-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    color: var(--white);
    text-align: center;
}
.about-us-container div h2{
    padding-bottom: 20px;
}
.core-values-container{
    padding: 100px 0px;
}
.core-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.core-values-top, .core-values-bot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.core-values-one, .core-values-two, .core-values-three, .core-values-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 400px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    border-radius: 10px;
}
.core-values-one:hover, .core-values-two:hover, .core-values-three:hover, .core-values-four:hover{
    background-color: var(--whiteblue);
    cursor: pointer;
}







.page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    padding-top: 120px;
}
.biometric-header h1{
    color: black;
}
.biometric-cards-container, .door-access-cards-container{
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Grid layout: exactly 3 columns */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 960px; /* 3 cards × 300px + gaps */
  width: 100%;
}
.product-grid a{
    color: black;
    text-decoration: none;
    width: max-content;
}

/* Product cards */
.product-card {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  height: max-content;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-card div:nth-of-type(1), .product-card div:nth-of-type(3){
 padding: 20px;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.product-img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 640px;
  }
}

@media (max-width: 650px) {
  .product-grid {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}